{{/* Determine the correct context and scope */}}
{{/* This allows for different logic depending on where the partial is called */}}
{{ $context := . }}

{{ if (reflect.IsMap . ) }}
{{ $context = .context }}
{{ end }}

{{ with $context }}
    {{/* Output taxonomies */}}
    <div>
        {{ range $taxonomy, $terms := .Site.Taxonomies }}
            {{ if (gt (len ($context.GetTerms $taxonomy)) 0) }}
                {{ if (eq $taxonomy "alltags") }}
                    {{ range $context.GetTerms $taxonomy }}
                    <a href="{{ .RelPermalink }}" class="tag">
                        {{ .LinkTitle }}
                    </a>
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
{{ end }}
