<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{% if page.title %}{{ page.title | escape }} {% else %} {{ site.title | escape }}{% endif %}</title>
    <link rel="shortcut icon" href="{{ 'images/favicon.ico' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ 'bootstrap/css/bootstrap.css'| prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ 'css/font-awesome.min.css'| prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ 'css/style.css'| prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
</head>