<span class="custom-info">
 <a href="{{ .Params.originalContentLink }}" rel="noopener">{{ partial "icon.html" "github" }}</a>
</span>
<span class="px-2 text-primary-500">&middot;</span>
<time datetime='{{ .Params.date | time.Format "2006-01-02T15:04:05Z07:00" }}'>
   {{ .Params.date | time.Format "2006" }}
</time>

{{ if (.Params.gistLanguage | default false) }}
<span class="px-2 text-primary-500">&middot;</span>
<span class="custom-info">
  <a href="{{ .Params.originalContentLink }}" rel="noopener">{{ partial "icon.html" (print "tech-" (lower .Params.gistLanguage)) }} {{ .Params.gistLanguage }}</a>
</span>
{{ end }}

{{ if and (.Params.gistComments | default false) (gt .Params.gistComments 0 ) }}
  <span class="px-2 text-primary-500">&middot;</span>
  <span class="custom-info">
    {{ partial "icon.html" "comments-regular" }} {{ .Params.gistComments }} Comments
  </span>
{{ end }}

{{ if and (.Params.gistFileCount | default false) (gt .Params.gistFileCount 0 ) }}
<span class="px-2 text-primary-500">&middot;</span>
<span class="custom-info">
    {{ partial "icon.html" "file-regular" }} {{ .Params.gistFileCount }} Files
</span>
{{ end }}

<!--{{ if and (.Params.deeplink | default false) }}-->
<!--<span class="px-2 text-primary-500">&middot;</span>-->
<!--<span class="custom-info">-->
<!--    <a href="{{ .Params.deeplink }}">{{ partial "icon.html" "link-solid" }}</a>-->
<!--</span>-->
<!--{{ end }}-->

{{- /* Trim EOF */ -}}
