<span class="custom-info">
 <a href="{{ .Params.originalContentLink }}" rel="noopener">{{ partial "icon.html" "medium" }}</a>
</span>

<span class="px-2 text-primary-500">&middot;</span>
<time datetime='{{ .Params.date | time.Format "2006-01-02T15:04:05Z07:00" }}'>
    {{ .Params.date | time.Format "2006" }}
</time>

{{ if and (.Params.mediumClaps | default false) (gt .Params.mediumClaps 0 ) }}
  <span class="px-2 text-primary-500">&middot;</span>
  <span class="custom-info">
    <a href="{{ .Params.originalContentLink }}" rel="noopener">{{ partial "icon.html" "hands-clapping-solid" }} Claps {{ .Params.mediumClaps }}</a>
  </span>
{{ end }}

<!--{{ if and (.Params.deeplink | default false) }}-->
<!--<span class="px-2 text-primary-500">&middot;</span>-->
<!--<span class="custom-info">-->
<!--    <a href="{{ .Params.deeplink }}">{{ partial "icon.html" "link-solid" }}</a>-->
<!--</span>-->
<!--{{ end }}-->

{{- /* Trim EOF */ -}}
