/* Fire Custom scheme */
:root {
    --color-neutral: 255, 255, 255;
    /* Gray */
    --color-neutral-50: 250, 250, 250;
    --color-neutral-100: 244, 244, 245;
    --color-neutral-200: 228, 228, 231;
    --color-neutral-300: 212, 212, 216;
    --color-neutral-400: 161, 161, 170;
    --color-neutral-500: 113, 113, 122;
    --color-neutral-600: 82, 82, 91;
    --color-neutral-700: 63, 63, 70;
    --color-neutral-800: 39, 39, 42;
    --color-neutral-900: 24, 24, 27;
    /* Rose */
    --color-primary-50: 255, 241, 242;
    --color-primary-100: 255, 228, 230;
    --color-primary-200: 254, 205, 211;
    --color-primary-300: 253, 164, 175;
    --color-primary-400: 251, 113, 133;
    --color-primary-500: 244, 63, 94;
    --color-primary-600: 225, 29, 72;
    --color-primary-700: 190, 18, 60;
    --color-primary-800: 159, 18, 57;
    --color-primary-900: 136, 19, 55;
    /* Emerald */
    --color-secondary-50: 236, 253, 245;
    --color-secondary-100: 209, 250, 229;
    --color-secondary-200: 167, 243, 208;
    --color-secondary-300: 110, 231, 183;
    --color-secondary-400: 52, 211, 153;
    --color-secondary-500: 16, 185, 129;
    --color-secondary-600: 5, 150, 105;
    --color-secondary-700: 4, 120, 87;
    --color-secondary-800: 6, 95, 70;
    --color-secondary-900: 6, 78, 59;
}

span.custom-info span.icon {
    padding-bottom: 2px;
    padding-right: 2px;
}

span.custom-info span.icon svg {
    height: 0.9em;
    width: 0.9em;
}

span.custom-info a:hover {
    opacity: 0.75;
}

/* max width of content */
.max-w-prose, article.max-w-prose, header.max-w-prose, div.max-w-prose, section.max-w-prose, div.prose {
    max-width: 80ch;
}

/* sidepanel */

div.sidepanel > div > span > a, div.sidepanel > a {
    text-decoration: none;
    color: var(--color-neutral-500);
}

div.sidepanel > div > span > a:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 1024px) {
    div.sidepanel {
        display: none;
    }
}

/* table of contents */
nav#TableOfContents a {
    text-decoration: none;
    font-size: 14px;
}

nav#TableOfContents > ul > li > a {
    font-weight: 600;
}

nav#TableOfContents > ul > li > ul > li > a {
    opacity: 0.7;
}

nav#TableOfContents > ul > li > ul > li > ul > li > a {
    opacity: 0.5;
}
