
{{/* Determine the correct context */}}
{{/* This allows for different logic depending on where the partial is called */}}
{{ $context := . }}

{{ if (reflect.IsMap . ) }}
    {{ $context = .context }}
{{ end }}

{{ with $context }}
<div class="text-neutral-500 dark:text-neutral-400 mb-3 pl-2 sidepanel">

    {{ if and (.Params.originalContentType | default false) (eq .Params.originalContentType "github" ) }}
    {{ partial "meta/general-sidepanel.html" . }}
    {{ partial "meta/github-sidepanel.html" . }}
    {{ end }}

    {{ if and (.Params.originalContentType | default false) (eq .Params.originalContentType "medium" ) }}
    {{ partial "meta/general-sidepanel.html" . }}
    {{ partial "meta/medium-sidepanel.html" . }}
    {{ end }}

    {{ if and (.Params.originalContentType | default false) (eq .Params.originalContentType "stackexchange" ) }}
    {{ partial "meta/general-sidepanel.html" . }}
    {{ partial "meta/stackexchange-sidepanel.html" . }}
    {{ end }}

    {{ if and (.Params.originalContentType | default false) (eq .Params.originalContentType "gist" ) }}
    {{ partial "meta/general-sidepanel.html" . }}
    {{ partial "meta/gist-sidepanel.html" . }}
    {{ end }}

    {{ if and (.Params.originalContentType | default false) (eq .Params.originalContentType "devto" ) }}
    {{ partial "meta/general-sidepanel.html" . }}
    {{ partial "meta/devto-sidepanel.html" . }}
    {{ end }}
</div>
{{ end }}

